<!-- app/views/api/check_breaches.html.erb -->
<div class="breachesbg py-5">
  <div class="container d-flex justify-content-center align-items-center">
    <% if @breaches.present? %>
      <div class=" hw-65 border-rounded border-dark rounded bg-dark">
          <div class="card  border-rounded border-light rounded ">
            <%= image_tag("breached.gif", alt: "Breached Image", class: " rounded h-100 w-100") %>
            <!-- Overlay with Text and Buttons -->
             <div class=" card-body bg-dark border-light border rounded ">
              <!-- Heading -->
              <h1 class=" heading text-danger card-title mb-1">Oh No!</h1>
              <h3 class="text-light heading3 card-title ">Your data was involved in a data breach!</h3>
              <!-- Description -->
              <h3 class="text-light heading3 card-title  mb-0">Ask Custos if you need help on what actions to take next!</h3>
              <!-- Buttons -->
              <%= link_to "Ask Custos", new_interaction_path, class: "btn btn-primary heading3 border-light  text-light  mt-3" %>
            </div>
          
        </div>
      </div>
    </div>

    <h2 class="m-5">Breaches Involved in:</h2>

    <div class="container">
      <hr>
      <div class="row">
        <% @breaches.each do |breach| %>
          <div class="col-md-4 mb-4">
            <div class="card border border-dark">
              <div class="card-body">
                <% if breach["LogoPath"].present? %>
                  <div class="bg-dark d-flex justify-content-center align-items-center">
                    <img src="<%= breach["LogoPath"] %>" alt="<%= breach["Name"] %> icon" style="width: 4em; height: 5em;">
                  </div>
                  <hr>
                <% end %>
                <h4 class="card-title text-dark"><%= breach["Title"] %></h4>
                <p class="card-text"><%= breach["Description"].html_safe %></p>
                <ul class="list-unstyled mt-3">
                  <li><strong>Domain:</strong> <%= breach["Domain"] %></li>
                  <li><strong>Breach Date:</strong> <%= breach["BreachDate"] %></li>
                  <li><strong>Pwn Count:</strong> <%= number_with_delimiter(breach["PwnCount"]) %></li>
                  <li><strong>Data Classes:</strong> <%= breach["DataClasses"].join(", ") %></li>
                </ul>
              </div>
              <div class="card-footer text-muted">
                Verified: <%= breach["IsVerified"] ? 'Yes' : 'No' %>
              </div>
            </div>
          </div>
        <% end %>
      </div>
    <% else %>
      <div class="card bg-white mb-4" style="max-width: 38rem; margin: 0 auto; border: none; border-radius: 15px;">
        <img src="<%= asset_path('breach.gif') %>" alt="breaches safe image" class="card-img-top">
        <div class="card-body bg-dark border border-secondary text-light">
          <h5 class="card-title mb-0 text-center">Your email is Safe!</h5>
        </div>
      </div>
    <% end %>
  </div>
</div>
