<body class="landing-page">
  <!-- Background Image -->
  <div class="position-relative">
    <%= image_tag("chip.gif", alt: "Background Image") %>
    <!-- Overlay with Text and Buttons -->
    <div class="overlay bottom-0 start-0 p-4">
      <!-- Heading -->
     
      <h1 class="heading text-info  mb-2"> Stay <br>  Safe Online </h1>
      <!-- Description -->
      <h3 class="text-white mb-2">A secure place to store <br> your usernames and emails.</h3>
      <h3 class="text-white mb-3">Check if your email has <br> been involved in a data breach.</h3>
      <!-- Conditional Buttons -->
      <% if user_signed_in? %> <!-- Check if user is signed in -->
        <!-- Edit Profile Button -->
        <div class="d-flex">
          <%= link_to "Edit Profile", edit_user_registration_path, class: "btn btn-dark border-light me-2 text-info" %>
          <!-- My Emails Button -->
          <%= link_to "My Emails", user_path(current_user.username), class: "btn btn-light border-secondary text-dark" %>
        </div>
      <% else %>
        <!-- Sign Up Button -->
        <div class="d-flex">
          <%= link_to "Sign Up", new_user_registration_path, class: "btn btn-dark border-light me-2 text-info " %>
          <!-- Login Button -->
          <%= link_to "Login", new_user_session_path, class: "btn btn-light border-secondary text-dark" %>
        </div>
      <% end %>
    </div>
  </div>
  

  <!-- Second image -->
  <div class="position-relative">
     <%= image_tag("homelock.jpg", class: "img-fluid", alt: "Logo") %>
  <div class="overlay rounded mt-4 heading ms-2 start-0 p-1">
      <!-- Heading -->
         <img src="<%= asset_path('cyberbot.png') %>" class="hw-15 mx-4 my-2 ">
      <h1 class="heading text-white  mb-1">Meet Custos the <br> AI Cybersecurity <br> Bot  </h1>
      <!-- Description -->
      <h3 class="text-info  mt-3 mb-0 ">Ask Custos a CyberSecurity Question</h3>
    </div>
  </div>
  </div>

  <!-- third image -->
  <div class="position-relative">
      <%= image_tag("seclog.jpg", class: "img-fluid", alt: "Logo") %>
    <div class="overlay bottom-0 start-0 p-4">
      <img src="<%= asset_path('homelogo.png') %>" class="hw-20 card rounded">
    </div>
  </div>
  </div>


</body>
