<div id="<%= dom_id external_datum %>">
  <p>
    <strong>User:</strong>
    <%= external_datum.user_id %>
  </p>

  <p>
    <strong>Ext username:</strong>
    <%= external_datum.ext_username %>
  </p>

  <p>
    <strong>Ext email:</strong>
    <%= external_datum.ext_email %>
  </p>

  <p>
    <strong>Organization:</strong>
    <%= external_datum.organization_id %>
  </p>

  <p>
    <strong>Main email:</strong>
    <%= external_datum.main_email %>
  </p>

  <p>
    <strong>Alerts count:</strong>
    <%= external_datum.alerts_count %>
  </p>

</div>
