<p style="color: green"><%= notice %></p>

<%= render @external_datum %>

<div>
  <%= link_to "Edit this external datum", edit_external_datum_path(@external_datum) %> |
  <%= link_to "Back to external data", external_data_path %>

  <%= button_to "Destroy this external datum", @external_datum, method: :delete %>
</div>
