<p style="color: green"><%= notice %></p>

<%= render @external_datum %>

<div>
 <div class="btn btn-dark">
  <%= link_to "Edit this external datum", edit_external_datum_path(@external_datum) %> 
  </div>
<div class="btn btn-dark">
  <%= link_to "My Emails", user_path(current_user.username), class: "nav-link" %>
  </div>
  <div class="btn btn-dark">
  <%= button_to "Delete this Login", @external_datum, method: :delete %>
  </div>
</div>
